POSTGRES_USER=pgfound
POSTGRES_PASSWORD=pgfound
POSTGRES_DB=pgfound
POSTGRES_PORT=55433
POSTGRES_SANDBOX_PORT=55434
POSTGRES_REPLICA_PORT=5435
POSTGRES_HBA_OVERLAY_PORT=55435
PGBOUNCER_PORT=6432
POSTGIS_PORT=5436
PGVECTOR_PORT=5437
TIMESCALE_PORT=5438
CITUS_PORT=5439
PGPARTMAN_PORT=5440
